@media (max-width: 1100px) {
    main {
        flex-direction: column;
        align-items: stretch;
        gap: 1.25rem;
        padding: 1rem;
    }

    aside.profile {
        width: 100%;
        margin: 0 auto;
    }

    .about-me {
        width: 100%;
        padding: 0.9rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .img-profile {
        width: 7rem;
        height: 7rem;
        border-width: 5px;
    }

    .profile-name {
        font-size: 1rem;
    }

    .course-profile,
    .semester,
    .address {
        font-size: 0.75rem;
    }

    .text-objectives,
    .text-soft-skills {
        font-size: 0.8rem;
        padding: 0.5rem;
        width: 100%;
    }

    .experience { 
        width: 100%;
    }

    .objective-title,
    .experience-title,
    .soft-skills-title,
    .certifications-title {
        font-size: 1rem;
        text-align: center;
    }

    /* colocar no @media 340px */
    .position, .period {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .skills {
        padding: 0px;
    }

    .hard-skills-title {
        margin-bottom: 0.8rem;
    }

    .soft-skill {
        flex-direction: column;
        gap: 1rem;
    }

    .progress-circle {
        width: 140px;
        font-size: 1rem;
    }

    .soft-skill-text-container {
        width: 90%;
    }

    .text-soft-skills {
        text-align: justify;
    }

    .certifications-title {
        margin-top: 1rem;
    }

    .carousel-container {
        width: 95%;
        height: 60vh;
    }
}

@media (max-width: 480px) {
    .progress-circle {
        width: 140px;
        font-size: 0.9rem;
    }

    .communication-title {
        font-size: 0.8rem;
    }

    .hard-skill-icon {
        width: 35px;
        height: 35px;
    }

    .carousel-container {
        height: 50vh;
        margin-bottom: 0.8rem;
    }


     .carousel-item embed {
        height: 100%;
        width: 100%;
    }
}
/* 
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #ddd;
    }

    .about-me {
        background-color: #1e1e1e;
    }

    .progress-bar {
        background: #333;
    }
}*/